@charset "utf-8";
/*
Styles.css StyleSheet
Author: Austin Raffelock
Date: 5/2/20
*/

html{
    background-color: rgb(231, 108, 25);
}/*M2LO15 Apply colors using CSS */

header > *{
    font-family: serif;
}/*M2LO5 Demonstrate contextual selectors; parent > child (with* as wildcard for all children)*/
header h1 {
    text-align: center;
}/*M2LO5 Demonstrate contextual selectors; parent child*/

p {
    color: rgba(18, 126, 214, 0.897);
}/*M2LO3 Demonstrate style precedence in CSS; p will take on the blue color instead of black
like the rest of the body since it is more specific*/

body {
    color: black;
}

article{
    text-align: center;
}/*M2LO3 Demonstrate style precedence and inheritance in CSS; p will be aligned with
other things in the article due to inheritance*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}







