@charset "utf-8";
/*
Styles.css StyleSheet
Author: Austin Raffelock
Date: 5/2/20
*/

html{
    background-color: rgb(36, 16, 3);
}/*M2LO15 Apply colors using CSS */

ul {
    list-style-type: none;
    display: inline;
    text-align: center;
}

header {
    text-align: center;
    color: rgba(18, 126, 214, 0.897);
}/*M2LO5 Demonstrate contextual selectors; parent child*/

body {
    color: rgba(18, 126, 214, 0.897);
    text-align: center;
    font-family: serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}/*M2LO12 Demonstrate how CSS can change presentation of page elements; aligns the image to the middle of the screen*/

.intro {
    font-size: medium;
}/*M2LO6  Demonstrate a CSS class selector*/

ol {
    color: blue

}







