@charset "utf-8";
/*
Rec_styles.css StyleSheet
Author: Austin Raffelock
Date: 5/2/20
*/

/*Table Styles*/

table.Genre{
    background-color: rgba(61, 34, 3, 0.911);
    border: 10px outset rgba(110, 92, 72, 0.911);
    width: 100%;
}/*M6LO7 Demonstrate how to format a table with CSS*/

table.Genre th{
    border: 3px solid black;
    border-top: 3px solid rgb(165, 9, 9);    
    border-bottom: 3px solid rgb(165, 9, 9);
}
table.Genre td{
    border: 3px solid black;
    border-top: 3px solid  rgb(117, 6, 6);    
    border-bottom: 3px solid  rgb(117, 6, 6);
}
tr#RPG {
    border-bottom: none;
}

/*Picture Style for crossfade
M8LO10 Demonstrate a CSS animation or transition- this code is so that there is a transtion between 2 pictures
upon hovering over them.*/

#cf{
    position: relative;
    width: 500px;
    height: 250px;
}
#cf img{
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity: 0;
}