@charset "utf-8";
/*
Styles.css StyleSheet
Author: Austin Raffelock
Date: 6/16/20
*/

/*M7LO11 Demonstrate how to format a form with CSS. 
This seperates out the instances on the form to make it a little more neat*/
div#url{
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    margin-bottom: 10px;
}

div#buttons{
    margin-top: 10px;
}
